<% provide(:title, 'FAQ') %>


<div class="titletext">
<h1>Rules of The Road</h1>
</div>
<blockquote>
  <p>80% of success in life is showing up.</p>
  <footer><cite title="Source Title"> - Woody Allen</cite></footer>
</blockquote>
<p class="lead">
<ol>
	<li>Everytime your group completes a deal, you earn "Groupify Credits” towards something very nice. The bigger the group, the bigger the reward. We're just starting out so stay tuned! :) </li>
	<li><s>Everyone hates flakes.</s> Can't make it anymore? When you cancel, the entire group gets notified that you've cancelled.</li>
	<li>Know of a great group deal? Have feedback? Let us know! groupmaster at usegroupify dot com. </li>
</ol>
</p>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55412382-1', 'auto');
  ga('send', 'pageview');

</script>



