$lightblue : #5A637E; 
$darkblue : #3B4152;
$graytext: #CED1D1;
$bluetext: #9FA6BA;
$link: #B6CDFF;


body {
	background-image: -webkit-linear-gradient(top, $lightblue  42%, $darkblue 100%);
	background-image: -moz-linear-gradient(top, $lightblue  42%, $darkblue 100%);
	background-attachment:fixed;	
}

h1, p{
	color: $graytext
}

a {
  color: $link;
  &:visited {
    color: $link;
  }
  &:hover {
    color: #fff;
  }
}
