$lightblue : #5A637E; 
$darkblue : #3B4152;
$graytext: #CED1D1;
$bluetext: #9FA6BA;
$link: #B6CDFF;


body {
	background-image: -webkit-linear-gradient(top, $lightblue  42%, $darkblue 100%);
	background-image: -moz-linear-gradient(top, $lightblue  42%, $darkblue 100%);
	background-attachment:fixed;	
}

h1, p{
	color: $graytext
}

a {
  color: $link;
  &:visited {
    color: $link;
  }
  &:hover {
    color: #fff;
  }
}

.title {
    color: #FFF;
}
.text {
    color:#FFF;
    width: 50%;
    float: left;
    position: relative;
    font-size: 15px;

}

.box {
      border:1px solid #ccc;
      padding:15px;
      height:300px;
      //height: 100%;
      //width:395px;
        background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(card1.jpg);  
        background-size: cover;
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

}

 .inset{
  position: relative;
  float: right;
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0px 0px 5px rgba(0,0,0,.7);
  width: 40%;
  height: 150px;
  border:1px solid rgba(0,0,0,.2);

}